<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h1>Hi there!</h1>
      <p>
        This is a simple app built with ember.js to show an overview of my professional details.
        The data is currently fixture driven but I plan to build a backend with flask to provide a
        REST API for it (just an adapter switch in the client)
      </p>
      <p>{{#link-to 'character' 1 class="btn btn-primary btn-lg" role="button"}}See Profile{{/link-to}}</p>
    </div>
  </div>
</div>
